<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="dao.IAirlineDAO">
    <select id="getEntityById" resultMap="airlineResultMap">
        SELECT
        *
        FROM Airlines
        LEFT JOIN Flight
        ON Airlines.idAirlines = Flight.Airlines_idAirlines
        WHERE idAirlines=#{id}
    </select>
    <insert id="createEntity" useGeneratedKeys="true" keyProperty="id" parameterType="travelAgency.airline.Airline">
        <!--implement-->
    </insert>
    <update id="updateEntity" parameterType="travelAgency.airline.Airline">
        <!--implement-->
    </update>
    <delete id="removeById" parameterType="int">
        <!--implement-->
    </delete>
    <resultMap id="airlineResultMap" type="travelAgency.airline.Airline" autoMapping="false">
        <id column="idAirlines" property="id"/>
        <result column="airlineName" property="name"/>
        <collection property="flights" resultMap="dao.IFlightDAO.flightResultMap"/>
    </resultMap>
</mapper>






