<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="dao.IAirlineDAO">
    <select id="getEntityById" resultMap="airlineResultMap">
        <!--implement-->
    </select>
    <insert id="createEntity" useGeneratedKeys="true" keyProperty="id" parameterType="travelAgency.airline.Airline">
        <!--implement-->
    </insert>
    <update id="updateEntity" parameterType="travelAgency.airline.Airline">
        <!--implement-->
    </update>
    <delete id="removeById" parameterType="int">
        <!--implement-->
    </delete>
    <resultMap id="airlineResultMap" type="travelAgency.airline.Airline" autoMapping="false">
        <id column="idAirlines" property="id"/>
        <result column="airlineName" property="name"/>
        <!-- <collection property="employees"
                     resultMap="com.solvd.app.dao.IEmployeeDAO.employeeResultMap"/>-->
    </resultMap>
</mapper>






