<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="dao.IFlightDAO">
    <select id="getEntityById" resultMap="flightResultMap">
        SELECT f.idFlight, f.price, f.Airlines_idAirlines,
        da.idAirport AS IdDepartureAirport, da.airportName, da.city, da.country, da.coordinates,
        aa.idAirport AS idArrivalAirport, aa.airportName AS arrivalAirportName, aa.city AS arrivalCity , aa.country AS
        arrivalCountry, aa.coordinates AS arrivalCoordinates
        FROM Flight f
        JOIN Airport da ON f.IdDepartureAirport = da.idAirport
        JOIN Airport aa ON f.idArrivalAirport = aa.idAirport
        WHERE f.idFlight = #{id}
    </select>


    <insert id="createEntity" useGeneratedKeys="true" keyProperty="id" parameterType="travelAgency.flight.Flight">
        INSERT INTO Flight (price, Airlines_idAirlines, IdDepartureAirport, idArrivalAirport)
        VALUES (#{price}, #{start.airlines[0].id}, #{start.id}, #{finalDestination.id})
    </insert>

    <update id="updateEntity" parameterType="travelAgency.flight.Flight">
        UPDATE Flight
        SET price=#{price}, Airlines_idAirlines=#{start.airlines[0].id}, IdDepartureAirport=#{start.id},
        idArrivalAirport=#{finalDestination.id}
        WHERE idFlight=#{id}
    </update>
    <delete id="removeById" parameterType="int">
        DELETE FROM Flight
        WHERE idFlight = #{id}
    </delete>
    <resultMap id="flightResultMap" type="travelAgency.flight.Flight" autoMapping="false">
        <id column="idFlight" property="id"/>
        <result column="price" property="price"/>
        <association property="start" javaType="travelAgency.airport.AirportLocation">
            <result column="airportName" property="name" javaType="java.lang.String"/>
            <result column="city" property="city"/>
            <result column="country" property="country"/>
            <result column="latitude" property="latitude"/>
            <result column="longitude" property="longitude"/>
        </association>
        <association property="finalDestination" javaType="travelAgency.airport.AirportLocation">
            <result column="arrivalAirport" property="name" javaType="java.lang.String"/>
            <result column="arrivalCity" property="city"/>
            <result column="aCountry" property="country"/>
            <result column="aLatitude" property="latitude"/>
            <result column="aLongitude" property="longitude"/>
        </association>
    </resultMap>
</mapper>
